@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: 'Raleway', sans-serif;
  
  background-color:#1A1A1D;
  color: white;
  margin: 0;
}


h1, h2, h3, p {
  margin-left: 10px;
}



p {
  margin-top: 30px;
}
